#wrapper {
	margin: 5px auto;
	width: 800px;
}
h1 {
	margin:5px;
	font-size:18px;
}
h2 {
	font-size:18px;
	margin:5px 5px 20px 5px;
}
form {
	width:600px;
	margin:0 auto;
}
label {
	font-size:18px;
	font-weight:100;
	width:150px;
	display:inline-block;
}
/* input[type="text"] {
	width:100px;
	border: solid 1px #A5A5A5; 
	padding: 3px 2px;
	font-size:13px;
} */
.button input{
	padding:10px;
	border: solid 1px;
	background: #611788;
}

.inputContainer {
	margin:10px 5px;
}
#buttonContainer {
}
.errorField {
	color:red;
	border:solid thin;
	float:right;
	width:225px;
}
.blue {
	color: blue;
}